
<div class="jumbotron center">
	<h1>Share pics from EF shows </h1>
		<p>
		 <center> <%=link_to "Log in", new_user_session_path, class: "btn btn-default btn-sm" %> 
		<%=link_to "Sign up!", new_user_registration_path, class: "btn btn-primary btn-sm" %> 
		</center> 
		</p >
</div>