
<div class="jumbotron">
	<h1>Your pics from EF shows </h1>
	<p> <center> <%=link_to "Log in", "#", class: "btn btn-primary btn-sm" %> 
		<%=link_to "Sign up!", "#", class: "btn btn-primary btn-sm" %> </center> </p>
</div>